name: Advent Of Cod CI

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]

jobs:
  javascript-test:
    runs-on: ubuntu-latest
    name: JavaScript Test
    steps:
      - uses: actions/checkout@v1
      - name: yarn test
        working-directory: ./javascript
        run: |
          yarn
          yarn test
